<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwNuEZw-FjC4CceyuC7Wob3eYTBA8NaP0</string>
	<key>GCM_SENDER_ID</key>
	<string>282974758909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.putraGo</string>
	<key>PROJECT_ID</key>
	<string>putrago-app</string>
	<key>STORAGE_BUCKET</key>
	<string>putrago-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282974758909:ios:65d3add001a6dea59d9b94</string>
	<key>DATABASE_URL</key>
	<string>https://putrago-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>